<html>
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    
    <body>
        <h1> 로또 만들기 </h1>
       <a href ="lotto/lucky"> <button type="button" class="btn btn-primary">추첨하러 가즈아!!!!!</button> </a>
    </body>


</html>
